.banner{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://pyxis.nymag.com/v1/imgs/3ac/239/f4c76febfebd72d0676c9f319b2cfec068.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-text{
  color: white;
}

.banner-text h1{
  font-size: 40px;
  font-weight: bolder;
}

.banner-text h2{
  font-size: 20px;
  font-weight: bolder;
  opacity: 0.8;
  margin-bottom: 30px;
  text-align: left;
}
